.container {
    width: 356px;
}

.form-group {
    font-size: 0.8em;
}

.settings-wrapper {
    margin-bottom: 0px;
    padding: 5px 10px;
    overflow: hidden;
}

.colorpicker {
    left: 0px !important;
    top: 0px !important;
    z-index: 999 !important;
}

#color {
    width: 36px;
    height: 36px;
    background: url(assets/colorpicker/images/select.png);
    padding: 7px;
}

#color_val {
    width: 22px;
    height: 22px;
}

.preview_wrapper {
    padding-top: 10px;
    height: 50px;
    border: 1px solid #000;
}

span.small {
    font-size: 80%;
    color: #666;
}

#enable_shortcut {
    border: 0px;
    width: 17px;
    height: 20px;
    padding-left: 3px;
}